workerPoolSpecs:
  - machineSpec:
      machineType: n1-highmem-4
    replicaCount: 1
    containerSpec:
      imageUri: europe-west1-docker.pkg.dev/dtumlops-484310/container-registry/train:latest
      env:
      - name: WANDB_API_KEY
        value: ${WANDB_API_KEY}
    diskSpec:
      bootDiskType: pd-ssd
      bootDiskSizeGb: 100
