# Ultra-fast training: 50 steps, 200 samples, ~1 minute expected on GPU
# Timeout set to 15 minutes for safety
scheduling:
  timeout: "900s"  # 15 minutes (900 seconds) - more than enough for ultra-fast training

workerPoolSpecs:
  - machineSpec:
      machineType: n1-standard-4
      acceleratorType: NVIDIA_TESLA_T4
      acceleratorCount: 1
    replicaCount: 1
    containerSpec:
      imageUri: europe-west1-docker.pkg.dev/dtumlops-484310/container-registry/train:latest
      env:
      - name: WANDB_API_KEY
        value: ${WANDB_API_KEY}
      args:
      - "experiment=fast"  # Use fast experiment config
    diskSpec:
      bootDiskType: pd-ssd
      bootDiskSizeGb: 100
